<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<style>
		
        	html, body {
        		margin: 0;
        		background-color: #F0F0F0
        	}
        	form, #results {
        		display: block;
        		margin-left: auto;
        		margin-right: auto;
        		width: 300px;
        		margin-top: 150px;
        		border: solid 6px #505050;
        		border-radius: 2px;
        		padding: 15px;
        		background-color: #C0C0C0;
        	}
        	select, input {
        		padding: 5px;
        		width: 100%;
        		box-sizing: border-box;
        	}
        	input[type=submit] {
        		background-color: grey;
        		border: solid 1px grey;
        		color: white;
        		margin-top: 7px;
        	}
        	#results {
        		width: 500px;
        	}
        	table {
        	}
	</style>
</head>
<body>
	<form th:action="@{/}" method="post" sec:authorize="hasAuthority('1')">
		<select name="selectedUsername">
			<option th:value="${user.username}" th:inline="text" th:each="user : ${usersList}">[[${user.username}]]</option>
		</select>
		<input type="submit" value="Display Items" />
	</form>
	
	<div th:if="${userItems != null}" id="results">
		<table border="1">
			<thead>
				<tr>
					<th>Item ID</th>
					<th>Name</th>
					<th>Game</th>
					<th>Expiration Date</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${userItems.items}">
					<td th:text="${item.idItem}">
					</td>
					<td th:text="${item.name}">
					</td>
					<td th:text="${item.game}">
					</td>
					<td th:text="${item.expirationDate}">
					</td>
					<td th:text="${item.quantity}">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>